# Pandas Series
* Create series
    * Multiple
    * Empty
    * Scaler
* Changes in Series
    * index
    * dtype
    * name
* Access the Series
    * index
    * slicing
* Operation perform in Series
    * max
    * min
    * add
    * compare

### Import Library

In [3]:
import pandas as pd

In [4]:
pd.__version__

'0.24.2'

## Create a Series

In [7]:
list_s = [1 ,2 , 4 ,6 ,8, 10]
series_1 = pd.Series(list_s)
print(series_1)

0     1
1     2
2     4
3     6
4     8
5    10
dtype: int64

In [8]:
# short way to create series
series_2 = pd.Series([2, 4 ,6 ,7 ,3 ,9 ,4 ,0])
print(series_2)

0    2
1    4
2    6
3    7
4    3
5    9
6    4
7    0
dtype: int64

In [9]:
# Series can be any datatype like
series_3 = pd.Series([1, 3 ,3.5, "Amir", "a", False])
print(series_3)

0        1
1        3
2      3.5
3     Amir
4        a
5    False
dtype: object

#### Change the index name in Series

In [11]:
series_4 = pd.Series([2, 5 ,6 ,7], index = ['a', 'b', 'c', 'd'])
print(series_4)

a    2
b    5
c    6
d    7
dtype: int64

#### Change the data type in Series

In [25]:
series_4 = pd.Series([3 ,5 ,6 ,8 , 2], dtype = float ) # It's only implement int to float not string to float data type
print(series_4)

0    3.0
1    5.0
2    6.0
3    8.0
4    2.0
dtype: float64

#### Change the name of column

In [26]:
series_5 = pd.Series([3 ,5 ,7 ,1,4 ], name= "number")
print(series_5)

0    3
1    5
2    7
3    1
4    4
Name: number, dtype: int64

#### Perform all operation together

In [30]:
series_6 = pd.Series([3 ,5 ,7 ,1, ], index = ['I', 'II', 'III', 'IV'], dtype = float, name= "number")
print(series_6)

I      3.0
II     5.0
III    7.0
IV     1.0
Name: number, dtype: float64

In [41]:
type(series_6)

pandas.core.series.Series

## Create a Empty Series

In [33]:
empty_series = pd.Series([])
print(empty_series)

Series([], dtype: float64)

In [37]:
empty_list = []
empty_series = pd.Series(empty_list)
print(empty_series)

Series([], dtype: float64)

## Create a Scaler Series

In [47]:
scaler_series_1 = pd.Series(5)
print(scaler_series_1)

0    5
dtype: int64

In [48]:
scaler_series_2 = pd.Series(5, index = [1, 2 ,3, 4])
print(scaler_series_2)

1    5
2    5
3    5
4    5
dtype: int64

In [50]:
scaler_series_3 = pd.Series({'a': 2, "b": 4, "c": 6, "d": 8})
print(scaler_series_3)

a    2
b    4
c    6
d    8
dtype: int64

## Access the Series

In [52]:
s = pd.Series([2, 4, 6 ,4, 5, 6,])
print(s)

0    2
1    4
2    6
3    4
4    5
5    6
dtype: int64

#### Index Access

In [56]:
s[2]

6

In [57]:
s[3]

4

In [58]:
s[4]

5

#### Slicing Series

In [59]:
s[0:3]

0    2
1    4
2    6
dtype: int64

In [61]:
s[0:5]

0    2
1    4
2    6
3    4
4    5
dtype: int64

In [63]:
s[1:4]

1    4
2    6
3    4
dtype: int64

## Operations

In [66]:
print(s)

0    2
1    4
2    6
3    4
4    5
5    6
dtype: int64

#### Max()

In [67]:
max(s)

6

#### Min()

In [70]:
min(s)

2

#### Comparison

In [73]:
# >
s[s > 2]          # access greater then 2 valu

1    4
2    6
3    4
4    5
5    6
dtype: int64

In [75]:
# ==
s [s == 4]

1    4
3    4
dtype: int64

### Add

In [82]:
s1 = pd.Series([1, 3 ,5 ,6])
s2 = pd.Series([4, 2, 0 ,-1])
print(s1)
print(s2)

0    1
1    3
2    5
3    6
dtype: int64
0    4
1    2
2    0
3   -1
dtype: int64

In [81]:
s3 = s1 + s2
print(s3)

0    5
1    5
2    5
3    5
dtype: int64

In [83]:
s4 = pd.Series([1, 3 ,5 ,6])
s5 = pd.Series([4, 2, 0 ,])

print(s4)
print(s5)

0    1
1    3
2    5
3    6
dtype: int64
0    4
1    2
2    0
dtype: int64

In [85]:
s6 = s4 + s5
print(s6)

0    5.0
1    5.0
2    5.0
3    NaN
dtype: float64