# Pandas DataFrame
* Create a DataFrame
    * empty DataFrame
    * Single Col DataFrame
    * Three Column DataFrame
* Change in DataFrame
    * index name
    * column name
* Create DataFrame with Dict
* Create DataFrame with list of Dict
* Create DataFrame with Dict of Series

### Import Library

In [1]:
import pandas as pd

### Create a DataFrame

#### Empty DataFrame

In [7]:
df = []
empty_df = pd.DataFrame(df)
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [8]:
empty_df = pd.DataFrame([])
print(empty_df)

Empty DataFrame
Columns: []
Index: []

#### Sinlge Column DataFrame

In [32]:
data = [1, 2, 3 ,4 ,5 , 6]
df1 = pd.DataFrame(data)
df1

   0
0  1
1  2
2  3
3  4
4  5
5  6

or

In [33]:
df1 = pd.DataFrame([1, 2, 3 ,4 ,5 , 6])
df1

   0
0  1
1  2
2  3
3  4
4  5
5  6

#### Two Column DataFrame

In [53]:
df2 = pd.DataFrame([[1, 2], [2, 3]])
df2

   0  1
0  1  2
1  2  3

In [40]:
df2 = pd.DataFrame([['a', 2], ['b', 5]])               # 2 col 2 row
df2

   0  1
0  a  2
1  b  5

In [42]:
df2 = pd.DataFrame([['a', 2], ['b', 5], ['c']])        # 2 col 3 row
df2

   0    1
0  a  2.0
1  b  5.0
2  c  NaN

#### Three  Column DataFrame

In [43]:
df3 = pd.DataFrame([[1, 2, 3],[4, 5, 6],[7, 8, 9], [1, 2 ,4 ]])    # 4 row 3 col
df3

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
3  1  2  4

### Change the Col name

In [48]:
df4 = pd.DataFrame([1, 2, 3 ,4 ,5 , 6], columns = ["number"])
df4

   number
0       1
1       2
2       3
3       4
4       5
5       6

In [49]:
df5 = pd.DataFrame([['a', 2], ['b', 5], ['c', 5]], columns = ["Alphabets", "Number"])        
df5

  Alphabets  Number
0         a       2
1         b       5
2         c       5

In [51]:
df6 = pd.DataFrame([[1, 2, 3],[4, 5, 6],[7, 8, 9], [1, 2 ,4 ]], columns = ["No_1", "No_2", "No_3"])    
df6

   No_1  No_2  No_3
0     1     2     3
1     4     5     6
2     7     8     9
3     1     2     4

In [ ]:
df4 = pd.DataFrame([1, 2, 3 ,4 ,5 , 6], columns = ["number"])
df4

### Change the Index name

In [78]:
df5 = pd.DataFrame([['a', 2], ['b', 5], ['c', 5]], columns = ["Alphabets", "Number"], index = ["I", "II", "III"])        
df5

    Alphabets  Number
I           a       2
II          b       5
III         c       5

### Create a DataFrame with Dictionery

In [59]:
dict_df1 = pd.DataFrame({"number": [1, 3, 4 ,5 ,6 ,7 ,8 ]})
dict_df1

   number
0       1
1       3
2       4
3       5
4       6
5       7
6       8

In [71]:
dict_df2 = pd.DataFrame({"Alphabet": ['a', 'f', 'r'], "Number": [2, 5, 6]})
dict_df2

  Alphabet  Number
0        a       2
1        f       5
2        r       6

### Create a DataFrame with list of Dictionery

In [67]:
dict_df3 = pd.DataFrame([{'a':1, 'b':3 }, {'a':3, 'b':2}])
dict_df3

   a  b
0  1  3
1  3  2

In [72]:
dict_df3 = pd.DataFrame([{'a':1, 'b':3 }, {'a':3, 'b':2, 'c':4}])
dict_df3

   a  b    c
0  1  3  NaN
1  3  2  4.0

### Creata a DataFrame with Dict of Series

In [75]:
dict_df4 = pd.DataFrame({'ID': pd.Series([1, 4, 5]), 'SN' : [1, 2, 3]})
dict_df4

   ID  SN
0   1   1
1   4   2
2   5   3