# Pandas GroupBy Function
* groupby
* get_group

#### Import Library

In [1]:
import pandas as pd

#### Import Dataset

In [2]:
dataset = pd.read_csv("C:\\Users\\amira\\Data Science\\0. Some  Basic Work\\3. Pandas\\dataset\\student_results.csv")
dataset

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75
5,1006,11,10,7,0,0,96
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60
9,1010,12,6,9,1,0,85

### groupBy
by using groupby we can split our data into group

In [9]:
gr1 = dataset.groupby(by = 'Mobile Games hrs')
gr = gr1.groups
gr

{0: Int64Index([1, 4, 5, 6, 7, 9], dtype='int64'),
 4: Int64Index([2, 8], dtype='int64'),
 5: Int64Index([0, 3], dtype='int64')}

In [22]:
# or
gr1 = dataset.groupby(by = 'Mobile Games hrs').groups
gr1

{0: Int64Index([1, 4, 5, 6, 7, 9], dtype='int64'),
 4: Int64Index([2, 8], dtype='int64'),
 5: Int64Index([0, 3], dtype='int64')}

In [23]:
gr2 = dataset.groupby(by = 'Class').groups
gr2

{10: Int64Index([0, 1, 2], dtype='int64'),
 11: Int64Index([3, 4, 5], dtype='int64'),
 12: Int64Index([6, 7, 8, 9], dtype='int64')}

In [13]:
# group of two col
gr2 = dataset.groupby(by = ['Mobile Games hrs', 'Class']).groups
gr2

{(0, 10): Int64Index([1], dtype='int64'),
 (0, 11): Int64Index([4, 5], dtype='int64'),
 (0, 12): Int64Index([6, 7, 9], dtype='int64'),
 (4, 10): Int64Index([2], dtype='int64'),
 (4, 12): Int64Index([8], dtype='int64'),
 (5, 10): Int64Index([0], dtype='int64'),
 (5, 11): Int64Index([3], dtype='int64')}

### get_group
we can make group of our desired value

In [16]:
dataset.groupby(by = 'Class').get_group(10)          # make a group of class which row value have 10

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60

In [17]:
dataset.groupby(by = 'Mobile Games hrs').get_group(0)  # make a group of Mobile Games hrs which row value have 0

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
1,1002,10,6,8,2,0,80
4,1005,11,4,7,2,0,75
5,1006,11,10,7,0,0,96
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
9,1010,12,6,9,1,0,85