# Pandas Merging() Function
* left, right
* on
* how
    * inner
    * outter
* indicator
* left_index, right_index
* suffixes

## Merge Function
Combines dataframes based on values in shared columns. Merge function offers more flexibility compared to concat function because it allows combinations based on a condition.
![](https://miro.medium.com/max/700/1*-uSHoxrzM57syqnKnms2iA.png)

### Import Library

In [1]:
import pandas as pd

### Create a two DataFrame

In [3]:
df1 = pd.DataFrame({'ID' : [1, 2, 3, 4],
                    'Class' : ['A', 'B', 'C', 'D']})
df1

   ID Class
0   1     A
1   2     B
2   3     C
3   4     D

In [4]:
df2 = pd.DataFrame({ 'ID': [1, 2, 3, 4],
                   'Section': ['X1', 'X2', 'X3', 'X4']})
df2

   ID Section
0   1      X1
1   2      X2
2   3      X3
3   4      X4

## Merge two DataFrame
By using this we can merge mulitiple DataFarame or CSV files
### left right
Class then Section

In [9]:
df = pd.merge(df1, df2)
df

   ID Class Section
0   1     A      X1
1   2     B      X2
2   3     C      X3
3   4     D      X4

### right left
Section then Class

In [8]:
df = pd.merge(df2, df1)
df

   ID Section Class
0   1      X1     A
1   2      X2     B
2   3      X3     C
3   4      X4     D

### on
we make a common here ID

In [12]:
df = pd.merge(df1, df2, on = 'ID')
df

   ID Class Section
0   1     A      X1
1   2     B      X2
2   3     C      X3
3   4     D      X4

### If we have different Item in ID

In [15]:
df1 = pd.DataFrame({'ID' : [1, 2, 3, 4],
                    'Class' : ['A', 'B', 'C', 'D']})
df1

   ID Class
0   1     A
1   2     B
2   3     C
3   4     D

In [14]:
df2 = pd.DataFrame({ 'ID': [1, 2, 3, 5],
                   'Section': ['X1', 'X2', 'X3', 'X4']})
df2

   ID Section
0   1      X1
1   2      X2
2   3      X3
3   5      X4

In [18]:
df = pd.merge(df1, df2, on = 'ID',)   # by Default it take common or intersection
df

   ID Class Section
0   1     A      X1
1   2     B      X2
2   3     C      X3

### how

#### inner 
take common only (by default it's inner)

In [20]:
df = pd.merge(df1, df2, on = 'ID', how = 'inner')   
df

   ID Class Section
0   1     A      X1
1   2     B      X2
2   3     C      X3

#### outer 
take all either is common or not

In [23]:
df = pd.merge(df1, df2, on = 'ID', how = 'outer') 
df

   ID Class Section
0   1     A      X1
1   2     B      X2
2   3     C      X3
3   4     D     NaN
4   5   NaN      X4

#### left
it's take only left ID col

In [25]:
df = pd.merge(df1, df2, on = 'ID', how = 'left')
df

   ID Class Section
0   1     A      X1
1   2     B      X2
2   3     C      X3
3   4     D     NaN

#### right
it's take only right ID col

In [28]:
df = pd.merge(df1, df2, on = 'ID', how = 'right')
df

   ID Class Section
0   1     A      X1
1   2     B      X2
2   3     C      X3
3   5   NaN      X4

### Indicator
It tell how file are merge according to 'how' operation

In [32]:
df = pd.merge(df1, df2, on = 'ID', how = 'outer', indicator = True)
df

   ID Class Section      _merge
0   1     A      X1        both
1   2     B      X2        both
2   3     C      X3        both
3   4     D     NaN   left_only
4   5   NaN      X4  right_only

In [33]:
df = pd.merge(df1, df2, on = 'ID', how = 'left', indicator = True)
df

   ID Class Section     _merge
0   1     A      X1       both
1   2     B      X2       both
2   3     C      X3       both
3   4     D     NaN  left_only

### If we have no item similar in ID

In [34]:
df1 = pd.DataFrame({'ID' : [1, 2, 3, 4],
                    'Class' : ['A', 'B', 'C', 'D']})
df1

   ID Class
0   1     A
1   2     B
2   3     C
3   4     D

In [35]:
df2 = pd.DataFrame({ 'ID': [5, 6, 7, 8],
                   'Section': ['X1', 'X2', 'X3', 'X4']})
df2

   ID Section
0   5      X1
1   6      X2
2   7      X3
3   8      X4

#### Then nothing is show

In [43]:
df = pd.merge(df1, df2)
df

Empty DataFrame
Columns: [ID, Class, Section]
Index: []

### left index = True right index = True
here it's make a different ID by default it's  name ID with _X, _y

In [42]:
df = pd.merge(df1, df2, left_index = True, right_index = True)
df

   ID_x Class  ID_y Section
0     1     A     5      X1
1     2     B     6      X2
2     3     C     7      X3
3     4     D     8      X4

### Suffixes
by using this parameters we can change the name like here ID1, ID2 instead ID_X, ID_Y

In [45]:
df = pd.merge(df1, df2, left_index = True, right_index = True, suffixes=('1', '2'))
df

   ID1 Class  ID2 Section
0    1     A    5      X1
1    2     B    6      X2
2    3     C    7      X3
3    4     D    8      X4