# Pandas Append() Function
* other
* ignore_index
* sort = True

### Import Library

In [1]:
import pandas as pd

### Create two DataFrame

In [2]:
df1 = pd.DataFrame({'A': [1, 3, 5],
                   'B': [2, 4 ,6]})
df1

   A  B
0  1  2
1  3  4
2  5  6

In [3]:
df2 = pd.DataFrame({'A': [7, 9, 11],
                   'B': [8, 10 ,12]})
df2

    A   B
0   7   8
1   9  10
2  11  12

### Append DataFrame
by using append method we can join two DataFrame but in  we can join multiple

#### append df1 and df2

In [5]:
df = df1.append(df2)
df

    A   B
0   1   2
1   3   4
2   5   6
0   7   8
1   9  10
2  11  12

In [6]:
df = df2.append(df1)
df

    A   B
0   7   8
1   9  10
2  11  12
0   1   2
1   3   4
2   5   6

### Ignore Index
ignore_index = True we make index systematically

In [9]:
df = df1.append(df2)
df

    A   B
0   1   2
1   3   4
2   5   6
0   7   8
1   9  10
2  11  12

In [10]:
df = df1.append(df2, ignore_index = True)
df

    A   B
0   1   2
1   3   4
2   5   6
3   7   8
4   9  10
5  11  12

### sort = True
if we append two datafarame with diffferent col which produce Future Warning to ignore we use sort = False

In [11]:
df1

   A  B
0  1  2
1  3  4
2  5  6

In [12]:
df2 = pd.DataFrame({'B': [7, 9, 11],
                   'C': [8, 10 ,12]})
df2

    B   C
0   7   8
1   9  10
2  11  12

In [14]:
df = df1.append(df2)
df

C:\Users\amira\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

     A   B     C
0  1.0   2   NaN
1  3.0   4   NaN
2  5.0   6   NaN
0  NaN   7   8.0
1  NaN   9  10.0
2  NaN  11  12.0

In [15]:
df = df1.append(df2, sort = False)
df

     A   B     C
0  1.0   2   NaN
1  3.0   4   NaN
2  5.0   6   NaN
0  NaN   7   8.0
1  NaN   9  10.0
2  NaN  11  12.0